* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.container {
    width: 90%;
    max-width: 900px;
    text-align: center;
    background-color: #222;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    border: 3px solid #444;
}

h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: #fff;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
    color: #bbb;
}

.form-container {
    margin: 20px 0;
}

textarea {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border: 3px solid #444;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    resize: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #444;
}

button {
    margin-top: 15px;
    padding: 14px 28px;
    background-color: #555;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: 3px solid #333;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #141414;
    border-color: #333;
}

#instructions-button {
    margin-top: 15px;
    padding: 12px 22px;
    background-color: #555;
    color: #fff;
    border: 3px solid #333;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

#instructions-button:hover {
    background-color: #fff;
    color: #141414;
    border-color: #333;
}

.output-container {

}

#output-text {
    background-color: #333;
    color: #fff;
    border: 3px solid #444;
    padding: 14px;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    min-height: 200px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: #222;
    padding: 30px;
    border-radius: 12px;
    width: 75%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    border: 4px solid #444;
}

.popup-content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

.popup-content p,
.popup-content pre {
    font-size: 1rem;
    line-height: 1.4;
    color: #bbb;
}

.popup-content pre {
    background-color: #444;
    padding: 12px;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    color: #fff;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 15px;
    max-height: 60vh;
    overflow-y: auto;
}

#close-popup {
    font-size: 1.8rem;
    color: #bbb;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-popup:hover {
    color: #fff;
}

#copy-button {
    margin-top: 15px;
    padding: 12px 22px;
    background-color: #777;
    color: #bbb;
    border: 3px solid #555;
    border-radius: 12px;
    cursor: not-allowed;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#copy-button.enabled {
    background-color: #007BFF;
    color: #fff;
    border-color: #0056b3;
    cursor: pointer;
}

#copy-button.enabled:hover {
    background-color: #0056b3;
}

/* /* Dropdown Styles */
select {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: #333; /* Fondo oscuro para el dropdown */
    color: #ddd; /* Texto claro */
    border: 3px solid #444; /* Borde suave y oscuro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 12px;
    appearance: none; /* Elimina la apariencia predeterminada del dropdown */
    background-color: #333;
    background-position: right 2px center; /* Posiciona la flecha a la derecha */
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20viewBox%3D"0%200%2024%2024"%3E%3Cpath%20fill%3D"%23fff"%20d%3D"M7%2010l5%205%205-5z"%3E%3C/path%3E%3C/svg%3E'); /* Flecha estilizada hacia abajo */
    /* Hacemos el icono de background image mas pequeño */
    background-size: 30px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Focus state */
select:focus {
    border-color: #007BFF; /* Borde azul cuando está enfocado */
    outline: none; /* Eliminar el contorno por defecto */
    background-color: #444; /* Fondo ligeramente más claro cuando está enfocado */
}
